{% extends "Wikipy/index.html" %}








{% block add_sub %}

	
<h2>Subcategoria de {{categoria|upper}} en {{grupo|upper}}</h2>
<hr>

<div><br></div>

  <div class="form-group">

	 <form method="POST" class="post-form">{% csrf_token %}



 	{% for campo in form%}

		<div class="form-group">

		    <label  class="col-sm-2 control-label">{{campo.label}}</label>

		    <div class="col-sm-10">
		      {{campo}}
		      <br>
		    </div>
		    
		</div>


		{%endfor%}

	
	      
	<button type="submit" class="btn btn-default">Guardar</button>
	<input type="button" onclick="history.back()" class="btn btn-default" name="volver atrás" value="Cancelar">
	</form>     	
	     
  </div>











 
{% endblock %}