
<div class="row">

	<div class="col-sm">


			<div class="card">
				 

				  <div class="card-body">
				    <h5 class="card-title">Listas</h5>
				    <p class="card-text">Una lista en python es una secuencia de valores separados por comas.
					[1,2,3]. Las listas son secuencias mutables, es decir, toleran los cambios.</br>
					 Nos permiten almacenar cualquier tipo de valor como enteros, cadenas y hasta otras funciones.</p>

					 <samp><pre>lista = [1, 2.5, 'DevCode', [5,6] ,4]</pre></samp></br>

					 Para acceder a estos datos podemos hacer mediante un índice.

					 <samp><pre>print lista[0] # 1</pre></samp>
					
										
				   
				  </div>



			</div>


	</div>

</div>


</p>


<div class="row">

	<div class="col-sm">

			<div class="card">
				  <div class="card-header">
				   list.extend(iterable)
				  </div>

				 <div class="card-body">
				  
				    <p class="card-text">Extienden una lista con los elementos de un iterable</br>Equivale a <pre>a[len(a):] = iterable.</pre></p>


				 </div>


							  
				
			</div>
			    
	</div>
	




	<div class="col-sm">
		
			<div class="card text-center">
				  <div class="card-header">
				     list.append(x)
				  </div>

				  <div class="card-body">
				    
				    <p class="card-text">Elimina un elemento de lista especificado</p>
				    
				  </div>


			</div>


	</div>

</div>









	
</p>






